mixin comment(comment)
  - let n = 0;
  li(data-commentid=comment._id).detail__comment
    div.detail__comment__column__first
      div.detail__comment__score
        while n < comment.score
          i.fa-solid.fa-star.filled
            - n++;
        while n < 5
          i.fa-solid.fa-star
            - n++;
      if loggedUser
        if String(comment.owner._id) === String(loggedUser._id)
          div.detail__comment__btns
            button.detail__comment__modify-btn 수정
            button.detail__comment__modify-cancel.hidden 취소
    div.detail__comment__column__second
      span=comment.text
      a(href=`/users/${comment.owner._id}`)=comment.owner.uid
    form.detail__form--modify.hidden
      textarea(cols="30" rows="5" placeholder="수정하고 싶은 방탈출 카페의 후기, 댓글을 입력해주세요")
    button.detail__comment__delete &times;