.wrong-page__wrap {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    margin: 3px 0;
  }
  h1 {
    font-size: 40px;
    font-weight: 600;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  a {
    font-size: 24px;
    font-weight: 600;
    color: $dark-sky;
  }
}
