main {
  position: relative;
}
.home__container {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  opacity: 0;
}
@media (max-width: 412px) {
  .home__title {
    font-size: 24px;
  }
}
.home__register {
  width: 70%;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 10px;
  background-color: $light-sky;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.15s ease-in;
  &:hover,
  &:focus {
    background-color: $sky;
  }
}

.home__subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.home__modal-btn {
  width: 170px;
  height: 45px;
  margin: 30px 0;
  border: 2px solid rgba($color: black, $alpha: 0.3);
  border-radius: 10px;
  background-color: white;
  color: $sky;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.25s ease-in;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $light-sky;
    color: $dark-sky;
  }
}

.home__hr {
  width: 100vw;
  height: 1px;
  margin-bottom: 30px;
  background-color: rgba($color: black, $alpha: 0.3);
}
.home__cafes {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  h5 {
    width: 100%;
    text-align: center;
  }
}
@keyframes showTitle {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.home__title--top {
  animation: showTitle 0.8s 0.8s ease-in-out forwards;
}
.home__title--bottom {
  margin-bottom: 50px;
  animation: showTitle 0.8s 1.5s ease-in-out forwards;
}
