.social-login__box {
  max-width: 420px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    margin-bottom: 15px;
  }
  div {
    width: 195px;
    height: 45px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 18px;
      height: 18px;
      margin-right: 30px;
    }
    span {
      width: 70%;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
    }
  }
}

.social-login__kakao {
  background-color: #fee500;
  &:hover,
  &:focus {
    background-color: #eeee00;
  }
}

.social-login__google {
  box-shadow: 0 1px 1px 1px rgba($color: black, $alpha: 0.3);
  &:hover,
  &:focus {
    background-color: #eeeeee;
  }
}

.social-login__naver {
  background-color: #03c75a;
  &:hover,
  &:focus {
    background-color: #03a15a;
  }
  span {
    color: white;
  }
}
