.cafe__item {
  width: 30%;
  margin: {
    right: 10px;
    bottom: 30px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: transform 0.25s ease-in-out;
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
  h5 {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    background-color: $sky;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cafe__meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cafe__recommendation {
  color: $red;
  position: absolute;
  top: -17px;
  left: 10px;
}
