.detail__container {
  max-width: 420px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.detail__registrant {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  p {
    font-size: 14px;
    font-weight: 600;
  }
  a {
    padding: 0 8px;
    color: $sky;
    font-size: 14px;
    display: block;
    transition: color 0.15s ease-in;
    &:hover,
    &:focus {
      color: $dark-sky;
      text-decoration: underline;
    }
  }
}

.detail__themes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  div {
    margin-right: 5px;
  }
}

.detail__description {
  color: rgba($color: $color, $alpha: 0.7);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.detail__btns {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    width: 35%;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:first-child {
    background-color: $light-sky;
    transition: background-color 0.15s ease-in;
    &:hover {
      background-color: $sky;
    }
  }
  a:last-child {
    color: $red;
    background-color: $light-red;
    transition: outline 0.15s linear;
    &:hover {
      outline: 2px solid $red;
    }
  }
}

.detail__form {
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  position: relative;
  textarea {
    width: 90%;
    height: 100px;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: $light-sky;
    font-size: 14px;
    font-weight: 600;
  }
  button {
    width: 35%;
    height: 40px;
    background-color: $light-sky;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.15s ease-in;
    &:hover {
      cursor: pointer;
      background-color: $sky;
    }
  }
}

.detail__recommended-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    width: 15%;
    height: 20px;
    padding: 10px;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: $red;
    }
  }
  span,
  i {
    font-size: 12px;
    font-weight: 600;
  }
}
@media (max-width: 412px) {
  .detail__recommended-box {
    width: 95%;
    button {
      width: 60px;
    }
  }
}

.recommended {
  background-color: #eeeeee;
  color: $red;
  &:hover {
    color: black;
  }
}
