.detail__comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    width: 100%;
    padding: 15px;
    margin-bottom: 40px;
    border: 2px solid rgba($color: black, $alpha: 0.3);
    background-color: rgba($color: $light-sky, $alpha: 0.3);
    border-radius: 10px;
    position: relative;
    & > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.detail__comment__column__first {
  margin-bottom: 10px;
  display: flex;
  .detail__comment__btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    button {
      padding: 3px 10px;
      background-color: $light-sky;
      border: none;
      border-radius: 5px;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      transition: background-color 0.25s ease-in;
      &:hover,
      &:focus {
        background-color: $sky;
        cursor: pointer;
      }
      &:last-child {
        margin-right: 10px;
        background-color: $light-red;
        &:hover,
        &:focus {
          outline: 2px solid $red;
        }
      }
    }
  }
}

.detail__comment__column__second {
  display: hidden;
  padding-bottom: 5px;
  span {
    font-size: 16px;
    font-weight: 600;
  }
  a {
    font-size: 14px;
    font-weight: 600;
    color: $sky;
    transition: color 0.15s ease-in;
    &:hover {
      color: $dark-sky;
    }
  }
}

.detail__comment__delete {
  width: 8px;
  height: 8px;
  padding: 10px;
  background-color: rgba($color: $light-sky, $alpha: 0.8);
  border: 2px solid rgba($color: black, $alpha: 0.3);
  border-radius: 50%;
  color: $red;
  font-size: 15px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.detail__form--modify {
  @extend .detail__form;
  margin: 5px;
  textarea {
    width: 100%;
  }
}
