extends ../templates/layout

block content
  form(method='POST')
    div
      label(for='oldPassword') 이전 비밀번호
      input(name='oldPassword' id='oldPassword' type='password' placeholder='이전 비밀번호' required)
      span=oldPasswordErrorMsg
    div
      label(for='newPassword') 새로운 비밀번호
      input(name='newPassword' id='newPassword' type='password' placeholder='새로운 비밀번호' required)
      span=newPasswordErrorMsg
    div
      label(for='newPasswordConfirm') 새로운 비밀번호 확인
      input(name='newPasswordConfirm' id='newPasswordConfirm' type='password' placeholder='새로운 비밀번호 확인' required)
    div
      input(type='submit' value='비밀번호 변경').form__submit